{% extends "base_PHD.html" %}



{%block content%}
<!--
<div class="w3-container w3-text-grey"">
    <p>8 items</p>
</div>
-->
<div class="w3-container w3-light-grey w3-padding-32">
	<h4>新增學生帳號</h4>
</div>
<div class="w3-container w3-black w3-padding-16 w3-center">
	
	<p>請填妥以下資訊並送出</p>
</div>

<div class="w3-container w3-light-grey w3-padding-32">    
    
    <div>
    
    <form name="myForm">
    	<p> 
		<input class="w3-input w3-border" type="text" placeholder="姓名 / Name" id="input_Name" name="Name" ng-model="Name" required>
		<!--<span style="color: red;" ng-show="myForm.Name.$error.required">Name is required.</span>-->
		</p>

		<p> 
		<input class="w3-input w3-border" type="text" placeholder="帳號 / account" id="input_account" name="account" ng-model="account" required>
		<!--<span style="color: red;" ng-show="myForm.account.$error.required">account is required.</span>-->
		</p>

		<p> 
		<input class="w3-input w3-border" type="text" placeholder="密碼 / passwords" id="input_pws" name="pws" ng-model="pws" required>
		<!--<span style="color: red;" ng-show="myForm.pws.$error.required">pws is required.</span>-->
		</p>
		<span ng-show="myForm.Name.$error.required || myForm.account.$error.required || myForm.pws.$error.required">請填妥上列欄位資料</span>
		<p id="post_result" style="color:red;"></p>

		<button id="send" ng-disabled="myForm.Name.$error.required || myForm.account.$error.required || myForm.pws.$error.required" class="w3-button w3-red">Send</button>
	</form>
	
    
      

    
    </div>
</div>

<script type="text/javascript">
function disabled_input(){
	$("#post_result").html("");
	$("#input_account").attr('disabled', true);
    $("#input_pws").attr('disabled', true);
    $("#input_Name").attr('disabled', true);
    $("#send").attr('disabled', true);
}
function abled_input(){
	$("#input_account").attr('disabled', false);
    $("#input_pws").attr('disabled', false);
    $("#input_Name").attr('disabled', false);
    $("#send").attr('disabled', false);
}
$("form").attr('disabled', true);
$("#send").click(function(){
	/*
	$.post("./newUser/", {
            "post_account": $("#input_account").val(),
            "post_pws":$("#input_pws").val(),
            "post_studentname":$("#input_Name").val()
        },
        function(data, status) {         
                
        	console.log(status);
    		console.log(data);
            
        });
    */
    disabled_input();
    var input_account = $("#input_account").val().toString();
    var input_pws = $("#input_pws").val().toString();
    var input_Name = $("#input_Name").val().toString();
    $("#post_result").html(input_account+" 帳號新增中，請稍後");
	$.ajax({
            type :"POST",
            url  : "../../newUser/",
            data : { 
                "post_account": input_account,
	            "post_pws":input_pws,
	            "post_studentname":input_Name                          
                },
            dataType: "text",
            success : function(data, status) {
            	console.log(data);
            	if(data == ""){
            		$("#post_result").html(input_account+" 帳號初始化中，請稍後");
            		$.ajax({
			            type :"POST",
			            url  : "../../initUser/",
			            data : { 
			                "Taccount": input_account                          
			                },
			            dataType: "text",
			            success : function(data, status) {
			            	console.log(status);
			            	console.log(data);
			            	abled_input();
			            	if(data==""){
			            		$("#post_result").html(input_account+"新增成功");  
			            	}else{
			            		$("#post_result").html("未知失敗！！請聯絡君善 error text: "+data); 
			            	}
			            	         		        
			        	}
			        })
            	}
            	else if(data.indexOf("1062")>=0){
            		$("#post_result").html(input_account+" 此帳號已被使用，請更換");
            		abled_input();
            	}else if(data == "data of the POST requests are null. "){
            		$("#post_result").html(" 請確定資料全部填妥");
            		abled_input();
            	}else if(data.indexOf("1406")>=0){
            		$("#post_result").html("資料過長，請更換（帳號密碼需小於15字）");
            		abled_input();
            	}else if(data.indexOf("1205")>=0){
            		$("#post_result").html("網路不穩定，請重整頁面");
            		//abled_input();
            	}
            	else{
            		$("#post_result").html("未知失敗！！請聯絡君善 error text: "+data);
            	}
            	                          
        	}
        })
});

</script>



{% endblock%}

