{% extends "base_PHD.html" %}



{%block content%}
<!--
<div class="w3-container w3-text-grey"">
    <p>8 items</p>
</div>

<div class="w3-container w3-light-grey w3-padding-32">
	<h4>新增學生帳號</h4>
</div>
-->
<div class="w3-container w3-black w3-padding-16 w3-center">
	
	<p>{{stu_name}}</p>
</div>

<div class="w3-container w3-light-grey w3-padding-32">    
    
    <div id="StudentList">

    	 	<div class="w3-row w3-grayscale">
			    <div class="w3-col l3 s3">
			        <h5>項目</h5>
			    </div>
			    <div class="w3-col l2 s3">
			    	<h5>狀況</h5>
			    </div>
			    <div class="w3-col l2 s3">
			        <h5>最後期限</h5>
			    </div>
			    <div class="w3-col l2 s2">
			    	<h5>備註</h5>
			    </div>
			    <div class="w3-col l2 s3">
			        <h5>最後更新時間</h5>
			    </div>
			    


			</div>
      	
      	<hr style="border-top: 1px solid #8c8b8b; border-bottom: 1px solid #fff;"/>
	{% for div in UserRecords %}
			
    	 	<div class="w3-row w3-grayscale">
			    <div class="w3-col l3 s3">
			        <h5>{{div.0}}</h5>
			    </div>
			    <div class="w3-col l2 s3">
			    	{% if div.1 == -1 %}
			        	<h5 style="color: gray;">尚未開始</h5>
			        {% elif div.1 == 0 %}
			        	<h5 style="color: red;"> <i class="fa fa-times"></i>  失敗</h5>
			        {% elif div.1 == 1 %}
			        	<h5 style="color: green;"><i class="fa fa-check"></i>  通過</h5>
			        {% elif div.1 == 2 %}
			        	<h5 style="color: black;"><i class="fa fa-eye"></i>  審核中</h5>
			        {% else %}
			        	<h5 style="color: red;">不明狀態，請聯絡系辦</h5>
			        {% endif %}
			    </div>
			    <div class="w3-col l2 s3">
			        
			        {% if 'May 11, 1995' == div.2|date:"M d, Y"  %}
			        	<h5>無</h5>
			        	
			        {% else %}
			        	<h5>{{div.2}}</h5>
			        {% endif %}
			    </div>
			    <div class="w3-col l2 s2">
			    	{% if div.3 == None %}
			        	<h5 style="color: black;">無</h5>
			        {% else %}
			        	<h5>{{div.3}}</h5>
			        {% endif %}
			    </div>
			    <div class="w3-col l2 s3">
			        <h5>{{div.4}}</h5>
			    </div>
			    


			</div>
      	
      	<hr style="border-bottom: 1px solid #8c8b8b;font-size:initial;margin:5px 0;"/>
    {% endfor %}
    </div>
</div>




{% endblock%}

